nav {
    float: right;
    margin: 80px 0 0 0;
}

ul li {
    float: right;
    list-style: none;
    padding: 15px;

}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

/**nav ul {
    background: #f1f4f7;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: right;
    position: relative;

}

nav ul li:hover {
    background: #6c757d;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 15px 32px;
    color: #4e4e4e;
    text-decoration: none;
}

nav ul ul {
    background: #6c757d;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
}

nav ul ul li {
    float: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
}

nav ul ul li a {
    padding: 15px 40px;
    color: #808080;
}

nav ul ul li a:hover {
    background: #464a4e;
}

nav ul ul ul {
    position: absolute;
    right: 100%;
    top: 0;
}**/
form {
    float: right;
    margin: 80px -493px 0 0;
    direction: rtl;
}

img.logo {
    float: left;
    margin: 80px 0 45px 90px;
}
